[Unit]
Description=Redis In-Memory Data Store (Master 50011)
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/usr/bin/redis-server /etc/redis/redis-50011.conf --supervised systemd
ExecStop=/usr/bin/redis-cli -p 50011 shutdown
Restart=always

[Install]
WantedBy=multi-user.target